*/target
target
tmp
*~
lib
bin
*/test-output
temp-testng-customsuite.xml
**pom.xml.releaseBackup
release.properties
project.properties
*.iws
*.iml
gen
*/seed.txt
notes
logs
gen-external-apklibs
.idea
out
.DS_Store

