<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2012 GitHub Inc.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~  http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.github.mobile.gauges"
  android:versionCode="150"
  android:versionName="1.5" >

  <uses-sdk
    android:minSdkVersion="8"
    android:targetSdkVersion="16" />

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
  <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
  <uses-permission android:name="android.permission.USE_CREDENTIALS" />

  <application
    android:name=".GaugesApplication"
    android:icon="@drawable/icon"
    android:label="@string/app_name"
    android:theme="@style/Theme.Gauges" >
    <activity
      android:name=".ui.GaugeListActivity"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:hardwareAccelerated="true" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".ui.GaugeViewActivity"
      android:configChanges="orientation|keyboardHidden|screenSize"
      android:hardwareAccelerated="true" >
      <intent-filter>
        <action android:name="com.github.mobile.gauges.gauge.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    <activity
      android:name=".ui.airtraffic.AirTrafficActivity"
      android:hardwareAccelerated="true"
      android:label="@string/airtraffic"
      android:launchMode="singleTop"
      android:screenOrientation="landscape" >
      <intent-filter>
        <action android:name="com.github.mobile.gauges.airtraffic.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <service
      android:name=".authenticator.AccountAuthenticatorService"
      android:exported="false"
      android:process=":auth" >
      <intent-filter>
        <action android:name="android.accounts.AccountAuthenticator" />
      </intent-filter>

      <meta-data
        android:name="android.accounts.AccountAuthenticator"
        android:resource="@xml/authenticator" />
    </service>

    <activity
      android:name=".authenticator.GaugesAuthenticatorActivity"
      android:excludeFromRecents="true" />
  </application>

</manifest>