<?xml version="1.0" encoding="utf-8"?>
<!-- package name must be unique so suffix with "tests" so package loader 
	doesn't ignore us -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.github.mobile.gauges.tests" android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14" />

	<application android:debuggable="true">
		<uses-library android:name="android.test.runner" />
	</application>

	<instrumentation android:name="android.test.InstrumentationTestRunner"
		android:targetPackage="com.github.mobile.gauges" android:label="GitHub for Android - Integration Tests" />

</manifest>
